$Body-Bg: #fafafa;
$Linear-Gradient: linear-gradient(-295deg, rgb(236, 215, 98) 30%, rgb(120, 49, 185));
$Dark-Accent: rgb(17, 23, 36); // For Texts and Buttons
$Desc-Color: rgb(107, 107, 107);
$Dark-Desc-Color: rgb(96, 96, 96);
$Ext-Color: #fefefe;

$hero-space-block:  clamp(10rem, 8vw, 13rem);

// FONTS
@font-face{
    font-family: Instrument Sans;
    src: url('../assets/fonts/InstrumentSans-VariableFont.ttf');
}
@font-face{
    font-family: Sequel Sans;
    src: url('../../assets/fonts/SequelSansMed.otf');
}
@font-face{
    font-family: Sequel Sans Med;
    src: url('../../assets/fonts/SequelSansBook.otf');
}

